<div class="remodal" data-remodal-id="coachattila">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/coachattila3up.jpg" alt="">
  <h1>Coach Attila</h1>
  <p>Bemutatkozó oldal, melyet egy Németországba költözött magasan képzett személyi edzőnek, windsurf oktatónak, életmentőnek, masszőrnek készítettünk. Célja hogy külföldi ügyfelei, és jővőbeni páciensei minél könnyebben rátaláljanak, és kapcsolatba léphessenek vele. Az oldal Php nyelven íródott, egyedi design alapján készült. Logójának érdekessége továbbá, hogy közepén Attila sziluettje található ahogy kézen áll, melyet egy fotó alapján készítettünk számára.</p>
  <%=	link_to 'http://www.coachattila.com', target: '_blank' do %>
      <button type="button" class="ref-modal-button btn btn-default btn-lg">Megtekintés</button>
  <% end %>
</div>

<div class="remodal" data-remodal-id="dentalstatus">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/dental3up.jpg" alt="">
  <h1>Dental Status</h1>
  <p>Webapplikáció orvosi felhasználásra, Ruby on Rails alapon, melynek célja hogy pácienseik számára gyors és pontos diagnózist tudjanak felállítani fogainak állapotárol anélkül hogy betegeiket megfosztanák a legfontosabb dologtól... szabadidejüktől.</p>
  <%=	link_to 'http://www.dentalstatus.hu', target: '_blank' do %>
      <button type="button" class="ref-modal-button btn btn-default btn-lg">Megtekintés</button>
  <% end %>
</div>

<div class="remodal" data-remodal-id="kapcsolatmentes">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/kapcsolatmentes3up.jpg" alt="">
  <h1>Kapcsolatmentés</h1>
  <p>Egy fiatal párterapeuta számára készített egyedi oldal, Ruby on Rails alapon, mely teljes CMS-t (tartalom kezelő rendszert), és edukációs anyagok kiküldésének lehetőségét biztosítja számára. Ügyfelei így gyorsan feliratkozhatnak, hozzáférhetnek teljes oktatóanyagokhoz, továbbá hírlevél útján hónapról-hónapra kaphatnak új tanácsokat is, melyekkel biztosíthatják párkapcsolatuk stabilitását.</p>
  <%=	link_to 'http://www.kapcsolatmentes.hu', target: '_blank' do %>
      <button type="button" class="ref-modal-button btn btn-default btn-lg">Megtekintés</button>
  <% end %>
</div>

<div class="remodal" data-remodal-id="arnyekdepo">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/arnyekdepo3up.jpg" alt="">
  <h1>Árnyék Depo</h1>
  <p>Egy árnyékolástechinkával foglalkozó vállalkozó számára készült bemutatkozó oldal. Saját design alapján, egyedi sablonnal készült, Wordpress alapra. A logót szintén mi készítettük el.</p>
  <%=	link_to 'http://www.arnyekdepo.hu', target: '_blank' do %>
      <button type="button" class="ref-modal-button btn btn-default btn-lg">Megtekintés</button>
  <% end %>
</div>

<div class="remodal" data-remodal-id="kkmakeup">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/KK3up.jpg" alt="">
  <h1>KK Makeup</h1>
  <p>Egyszerű bemutatkozó weboldal, és portfólió egy sminkes Hölgy számára. Egyedi sablont építettünk, ami Wordpress motorral működik, így a teljes tartalom admin felületről módosítható, bővíthető.</p>
  <%=	link_to 'http://kkmakeup.tk', target: '_blank' do %>
      <button type="button" class="ref-modal-button gbtn btn-default btn-lg">Megtekintés</button>
  <% end %>
</div>

<div class="remodal" data-remodal-id="hardsonic">
  <button data-remodal-action="close" class="remodal-close"></button>
  <img class="img-responsive" src="/img/modals/hardsonic3up.jpg" alt="">
  <h1>Hardsonic</h1>
  <p>A német Elma és Herrmann ultrahangos szerszámok, és mosók, szonotródák tervezésével, gyártásával, és optimalizálásával foglalkozó cégek magyar kirendeltségének, itthoni forgalmazójának, és hivatalos szakszervízének készített, teljesen egyedi design, CMS (tartalomkezelő rendszer) kivitelezése PHP alapon. Az oldal célja hogy itthoni partnereiknek ( autó gyárak, Orvosi laborok) számára gyors hibajegy felvételt, és szervízelési információkat biztosítson, jövőbeni ügyfeleik számára pedig könnyű tájékozódást nyújtson az ultrahangok világában.</p>
  <%=	link_to 'http://www.hardsonic.hu', target: '_blank' do %>
      <button type="button" class="ref-modal-button btn btn-default btn-lg">Megtekintés</button>
  <% end %>
</div>
