<div class="row section" id="contact-info">
	<div class="container">
		<div class="col-md-8 animatehidden fadeInLeft">
			<h1>KAPCSOLAT</h1>
			<p>Kérdése merült fel? Keressen minket bizalommal!</p>
		</div><!--col-->
		<div class="col-md-4 animatehidden fadeInRight">
			<h3>Build-IT Group</h3>
			<ul>
				<li><i class="fa fa-map-marker" aria-hidden="true"></i>1225 Budapest, Példa utca 1.</li>
				<li><i class="fa fa-mobile" aria-hidden="true"></i>Tel.: +3620/504 95 07</li>
				<li><i class="fa fa-envelope-o" aria-hidden="true"></i>info@builditgroup.hu</li>
				<li><a><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
			</ul>
		</div><!--col-->
	</div><!--container-->
</div><!--row section-->

<div class="row section" id="contact-form">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2>Üzenjen Nekünk!</h2>
			</div><!--col-->
		</div><!--row-->
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <%= form_for Message.new, html: { remote: true }, url: contact_path do |message_form| %>
        <div class="row">

          <div class="form-group">
            <%= message_form.text_field :name, placeholder: "Név", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= message_form.email_field :email, placeholder: "Email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= message_form.text_area :content, placeholder: "Üzenet", class: "form-control" %>
          </div>
        </div>

        <div class="row text-center">
          <div class="field col-sm-12">
            <%= message_form.submit "Küldés", class: "btn btn-default btn-lg" %>
          </div>
        </div>
    <% end %>
      </div>
    </div>
	</div><!--container-->
</div><!--row-->