<footer>
	<div class="top-footer row">
		<div class="container">
			<div class="footer-about col-sm-12 col-md-6">
				<h4>Kik vagyunk?</h4>
				<h2>Build-IT. <small>Group</small></h2>
				<p>Teljes körű webes szolgáltatást nyújtunk kis- és középvállalkozások számára, az egyszerű bemutatkozó oldalaktól, az egyedi háttérrendszerrel rendelkező webes applikációkig.</p>
				<%=	link_to rolunk_path do %>
            Tudjon meg többet!<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        <% end %>
			</div><!--col-->
			<div class="footer-contact col-sm-12 col-md-6">
				<h4>Elérhetőségeink</h4>
				<p>Könnyen, és gyorsan kapcsolatba léphet Velünk akár a Facebook oldalunkon keresztül is!	</p>
				<ul>
					<li><p><i class="fa fa-map-marker" aria-hidden="true"></i>1119 Budapest, Tétényi út 111.</p></li>
					<li><p><i class="fa fa-mobile" aria-hidden="true"></i>Tel.: +3620/504 95 07</p></li>
					<li><p><i class="fa fa-envelope-o" aria-hidden="true"></i>info@builditgroup.hu</p></li>
					<li><a><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
				</ul>
			</div><!--col-->
		</div><!-- container -->
	</div><!--row-->
	<div class="bottom-footer row">
		<div class="container">
			<div class="buildit col-xs-12 col-sm-6 col-md-6">
				<%= Date.current.year %> Build-IT Group
			</div>
			<div class="footer-menu col-xs-12 col-sm-6 col-md-6">
				<ul class="">
					<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Főoldal', root_path %></li>
        			<li class="<%= 'active' if current_page?(rolunk_path) %>"><%= link_to 'Rólunk', rolunk_path %></li>
        			<li class="<%= 'active' if current_page?(szolgaltatasok_path) %>"><%= link_to 'Szolgáltatások', szolgaltatasok_path %></li>
        			<li class="<%= 'active' if current_page?(referenciak_path) %>"><%= link_to 'Referenciák', referenciak_path %></li>
        			<li class="<%= 'active' if current_page?(kapcsolat_path) %>"><%= link_to 'Kapcsolat', kapcsolat_path %></li>
				</ul>
			</div>
		</div><!-- container -->
	</div><!--row-->
</footer>
