<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to root_path, class: 'navbar-brand' do %>
        <p>BuildItGroup</p>
    <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(rolunk_path) %>"><%= link_to 'R칩lunk', rolunk_path %></li>
      <li class="<%= 'active' if current_page?(szolgaltatasok_path) %>"><%= link_to 'Szolg치ltat치sok', szolgaltatasok_path %></li>
      <li class="<%= 'active' if current_page?(referenciak_path) %>"><%= link_to 'Referenci치k', referenciak_path %></li>vb
      <li class="<%= 'active' if current_page?(kapcsolat_path) %>"><%= link_to 'Kapcsolat', kapcsolat_path %></li>
    </ul>
  </div>
</nav>