<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'builditgroup.hu', reverse: true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', defer: Rails.env.production?, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>
<body>

<div class="navbar-wrapper">
	<%= render 'layouts/navbar' %>
</div>


<% if current_page?(root_path) %>
    <%= render 'pages/rootcarousel' %>
<% end %>

<content>
<div class="container-fluid">
	<%= yield %>
</div>
</content>


<div class="container-fluid">
<%= render 'layouts/footer' %>
</div>


</body>
</html>
